In [1]:
# %pip install geopandas pandas sqlalchemy psycopg2-binary openpyxl geoalchemy2 python-dotenv

# Import Block

In [1]:
import pandas as pd
import geopandas as gpd

import os
from dotenv import load_dotenv
import sys
sys.path.append("../src")

from utils.Database import Database

# Load Environment

In [2]:
load_dotenv(".env")

ECCC_STATION_LIST_CSV = os.getenv("ECCC_STATION_LIST_CSV")
ECCC_HISTORIC_DATA_DIR = os.getenv("ECCC_HISTORIC_DATA_DIR")
TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA = os.getenv("TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA")

# Constants

In [5]:
ECCC_METADATA_STATION_LIST_CSV = f"{ECCC_HISTORIC_DATA_DIR}{os.sep}{ECCC_STATION_LIST_CSV}"

# Establish Database Connection

In [6]:
db = Database()

Connection Established!!!
	Engine(postgresql://wireaiadmin:***@localhost:5434/weather_db)

# Read Data

In [8]:
# read the dataset
eccc_meta_df = pd.read_csv(
    ECCC_METADATA_STATION_LIST_CSV 
)
eccc_meta_df.head()

,Station Name,Province,Latitude,Longitude,Elevation,Climate ID,WMO Identifier,TC Identifier,First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
0,(AE) BOW SUMMIT,ALBERTA,51.70,-116.47,2080.0,3050PPF,NaN,NaN,1998,2007,NaN,NaN,1998.0,2007.0,1998.0,2007.0
1,100 MILE HOUSE,BRITISH COLUMBIA,51.65,-121.27,929.6,1095790,NaN,NaN,1957,1959,NaN,NaN,1957.0,1959.0,1957.0,1959.0
2,100 MILE HOUSE,BRITISH COLUMBIA,51.65,-121.30,1059.2,1165791,NaN,NaN,1970,1999,NaN,NaN,1970.0,1999.0,1970.0,1999.0
3,100 MILE HOUSE 6NE,BRITISH COLUMBIA,51.68,-121.22,928.0,1165793,NaN,NaN,1987,2023,NaN,NaN,1987.0,2023.0,1987.0,2007.0
4,108 MILE HOUSE,BRITISH COLUMBIA,51.75,-121.33,957.1,1095796,NaN,NaN,1970,1973,NaN,NaN,1970.0,1973.0,1970.0,1973.0

# Data Pre-Processing

In [ ]:
# convert to Geodataframe
eccc_meta_gdf = gpd.GeoDataFrame(
    eccc_meta_df,
    crs="EPSG:4326",
    geometry=gpd.points_from_xy(
        eccc_meta_df.Latitude, 
        eccc_meta_df.Longitude
    ),
)

In [10]:
# drop columns that are not needed
eccc_meta_gdf.drop(
    [
        "Latitude",
        "Longitude",
        "WMO Identifier",
        "TC Identifier",
    ],
    axis = 1,
    inplace = True
)

In [14]:
# keep all columns names in upper case
eccc_meta_gdf.columns = [col.upper().replace(" ", "_") if col != 'geometry' else col for col in eccc_meta_gdf.columns]

eccc_meta_gdf.head(2)

,STATION_NAME,PROVINCE,ELEVATION,CLIMATE_ID,FIRST_YEAR,LAST_YEAR,HLY_FIRST_YEAR,HLY_LAST_YEAR,DLY_FIRST_YEAR,DLY_LAST_YEAR,MLY_FIRST_YEAR,MLY_LAST_YEAR,geometry
0,(AE) BOW SUMMIT,ALBERTA,2080.0,3050PPF,1998,2007,NaN,NaN,1998.0,2007.0,1998.0,2007.0,POINT (51.7 -116.47)
1,100 MILE HOUSE,BRITISH COLUMBIA,929.6,1095790,1957,1959,NaN,NaN,1957.0,1959.0,1957.0,1959.0,POINT (51.65 -121.27)

In [15]:
# store in DB
db.send_gdf_to_db(
    gdf = eccc_meta_gdf,
    table_name = TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA,
    dtypes = None
)

In [16]:
# add keys to data for faster retrival

alter_statement = f"""ALTER TABLE "{TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA}" ADD PRIMARY KEY ( "CLIMATE_ID" );"""
db.execute_sql(
    alter_statement
)

Execution started --> ALTER TABLE "fire_nearest_weather_eccc_metadata" ADD PRIMARY KEY ( "CLIMATE_ID" );
Exectution completed --> ALTER TABLE "fire_nearest_weather_eccc_metadata" ADD PRIMARY KEY ( "CLIMATE_ID" );

# Test Read Data

In [17]:
gpd.read_postgis(
    sql = f"""SELECT * from "{TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA}"; """,
    con = db.connection,
    geom_col = "geometry",
)

,STATION_NAME,PROVINCE,ELEVATION,CLIMATE_ID,FIRST_YEAR,LAST_YEAR,HLY_FIRST_YEAR,HLY_LAST_YEAR,DLY_FIRST_YEAR,DLY_LAST_YEAR,MLY_FIRST_YEAR,MLY_LAST_YEAR,geometry
0,(AE) BOW SUMMIT,ALBERTA,2080.0,3050PPF,1998,2007,NaN,NaN,1998.0,2007.0,1998.0,2007.0,POINT (51.7 -116.47)
1,100 MILE HOUSE,BRITISH COLUMBIA,929.6,1095790,1957,1959,NaN,NaN,1957.0,1959.0,1957.0,1959.0,POINT (51.65 -121.27)
2,100 MILE HOUSE,BRITISH COLUMBIA,1059.2,1165791,1970,1999,NaN,NaN,1970.0,1999.0,1970.0,1999.0,POINT (51.65 -121.3)
3,100 MILE HOUSE 6NE,BRITISH COLUMBIA,928.0,1165793,1987,2023,NaN,NaN,1987.0,2023.0,1987.0,2007.0,POINT (51.68 -121.22)
4,108 MILE HOUSE,BRITISH COLUMBIA,957.1,1095796,1970,1973,NaN,NaN,1970.0,1973.0,1970.0,1973.0,POINT (51.75 -121.33)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8616,ZEBALLOS MURAUDE CREEK,BRITISH COLUMBIA,103.0,1039035,2010,2025,NaN,NaN,2010.0,2025.0,NaN,NaN,POINT (50.05 -126.78)
8617,ZEHNER,SASKATCHEWAN,682.8,4019200,1961,1999,NaN,NaN,1961.0,1999.0,1961.0,1999.0,POINT (50.63 -104.4)
8618,ZELMA,SASKATCHEWAN,541.0,4059220,1981,1989,NaN,NaN,1981.0,1989.0,1981.0,1989.0,POINT (51.8 -105.93)
8619,ZHODA,MANITOBA,304.8,5023370,1980,2000,NaN,NaN,1980.0,2000.0,1980.0,2000.0,POINT (49.25 -96.52)
8620,ZURICH,ONTARIO,256.6,6129850,1881,1898,NaN,NaN,1881.0,1898.0,1881.0,1898.0,POINT (43.4 -81.6)