In [1]:
# %pip install pandas sqlalchemy psycopg2-binary python-dotenv tqdm ipywidgets

# Import Block

In [1]:
import pandas as pd
from sqlalchemy import TIMESTAMP

import os
from dotenv import load_dotenv

import warnings

import sys
sys.path.append("../src")

from utils.Database import Database

In [2]:
warnings.filterwarnings("ignore")

# Load Environment

In [3]:
load_dotenv(".env")

TABLE_WEATHER_DATA = os.getenv("TABLE_WEATHER_DATA")
TABLE_WEATHER_DATA_PROCESSED = os.getenv("TABLE_WEATHER_DATA_PROCESSED")
TABLE_WEATHER_METADATA = os.getenv("TABLE_WEATHER_METADATA")
CWEEDS_STATION_DATA_DIR = os.getenv("CWEEDS_STATION_DATA_DIR")

# Constants

## DTypes

In [ ]:
WEATHER_DATA_PROCESSED_DB_DTYPES = {
    "DATE": TIMESTAMP
}

## Mapping

In [6]:
WEATHER_DATA_NON_DIGIT_CODE_FLAG_MAPPING = {
    'Flag': 'Global horizontal irradiance / kJ/m2',
    'Flag.1': 'Direct normal irradiance / kJ/m2',
    'Flag.2': 'Diffuse horizontal irradiance / kJ/m2',
    'Flag.3': 'Global horizontal illuminance / 100 lux',
    'Flag.4': 'Direct normal illuminance / 100 lux',
    'Flag.5': 'Diffuse horizontal illuminance / 100 lux',
    'Flag.6': 'Zenith luminance / 100 Cd/m2',
    'Flag.7': 'Minutes of sunshine / 0-60 minutes',
    'Flag.8': 'Ceiling height / 10 m',
    'Flag.10': 'Visibility / 100 m',
    'Flag.12': 'Station pressure / 10 Pa',
    'Flag.13': 'Dry bulb temperature / 0.1 C',
    'Flag.14': 'Dew point temperature / 0.1 C',
    'Flag.15': 'Wind direction / 0-359 degrees',
    'Flag.16': 'Wind speed / 0.1 m/s',
    'Flag.17': 'Total sky cover / 0-10 in tenths',
    'Flag.18': 'Opaque sky cover / 0-10 in tenths',
    'Flag.19': 'Snow cover (0 = no snow cover 1 = snow cover)'
}

In [7]:
WEATHER_DATA_DIGIT_CODE_FLAG_MAPPING = {
    'Sky condition': (4,'Flag.9'),
    'Present Weather': (8, 'Flag.11')
}

In [8]:
WEATHER_COLUMN_RENAME_MAPPING = {
    'ECCC station identifier': 'CLIMATE_ID',
    'Year Month Day Hour (YYYYMMDDHH)': 'TIMESTAMP',
    'Date': 'DATE',
    'Extraterrestrial irradiance / kJ/m2': 'EXTRATERRESTRIAL_IRRADIANCE',
    'Global horizontal irradiance / kJ/m2': 'GLOBAL_HORIZONTAL_IRRADIANCE',
    'Direct normal irradiance / kJ/m2': 'DIRECT_NORAML_IRRADIANCE',
    'Diffuse horizontal irradiance / kJ/m2': 'DIFFUSE_HORIZONTAL_IRRADIANCE',
    'Global horizontal illuminance / 100 lux': 'GLOBAL_HORIZONTAL_LLUMINANCE',
    'Direct normal illuminance / 100 lux': 'DIRECT_NORAML_ILLUMINANCE',
    'Diffuse horizontal illuminance / 100 lux': 'DIFFUSED_HORIZONTAL_ILLUMINANCE',
    'Zenith luminance / 100 Cd/m2': 'ZEENATH_LUMINANCE',
    'Minutes of sunshine / 0-60 minutes': 'SUNSHINE_MIN',
    'Ceiling height / 10 m': 'CEILING_HEIGHT',
    'Visibility / 100 m': 'VISIBILITY',
    'Station pressure / 10 Pa': 'PRESSURE',
    'Dry bulb temperature / 0.1 C': 'DRY_BULB_TEMPERATURE',
    'Dew point temperature / 0.1 C': 'DEW_POINT_TEMPERATURE',
    'Wind direction / 0-359 degrees': 'WIND_DIRECTION',
    'Wind speed / 0.1 m/s': 'WIND_SPEED',
    'Total sky cover / 0-10 in tenths': 'TOTAL_SKY_COVER',
    'Opaque sky cover / 0-10 in tenths': 'OPAQUE_SKY_COVER',
    'Snow cover (0 = no snow cover 1 = snow cover)': 'SNOW',
    'Sky condition_0': 'SKY_CONDITION_0',
    'Sky condition_1': 'SKY_CONDITION_1',
    'Sky condition_2': 'SKY_CONDITION_2',
    'Sky condition_3': 'SKY_CONDITION_3',
    'Present Weather_0': 'WEATHER_0',
    'Present Weather_1': 'WEATHER_1',
    'Present Weather_2': 'WEATHER_2',
    'Present Weather_3': 'WEATHER_3',
    'Present Weather_4': 'WEATHER_4',
    'Present Weather_5': 'WEATHER_5',
    'Present Weather_6': 'WEATHER_6',
    'Present Weather_7': 'WEATHER_7'
 }

In [11]:
WEATHER_DATA_AGG_INDEX_COLUMN = list(WEATHER_COLUMN_RENAME_MAPPING.values())[:1] + list(WEATHER_COLUMN_RENAME_MAPPING.values())[2:3]

assert len(WEATHER_DATA_AGG_INDEX_COLUMN) == 2, "There are only 2 index columns!!!" 
assert 'CLIMATE_ID' in WEATHER_DATA_AGG_INDEX_COLUMN, "CLIMATE_ID should be in index!!!"
assert 'DATE' in WEATHER_DATA_AGG_INDEX_COLUMN, "DATE should be in index!!!"

WEATHER_DATA_AGG_INDEX_COLUMN

['CLIMATE_ID', 'DATE']

# Queries

In [38]:
NULL_FLAG_VALUE = 9
WEATHER_DATA_DAILY_AVG_QUERY = f"""
select 
	ws."CLIMATE_ID" as "CLIMATE_ID",
	cast(ws."TIMESTAMP" as date) as "DATE",
	avg("EXTRATERRESTRIAL_IRRADIANCE") as "DLY_AVG_EXTRATERRESTRIAL_IRRADIANCE",
    avg(
        case 
            when "Flag" = '{NULL_FLAG_VALUE}' then 0
            else "GLOBAL_HORIZONTAL_IRRADIANCE"
        end
    ) as "DLY_AVG_GLOBAL_HORIZONTAL_IRRADIANCE",
    avg(
        case 
            when "Flag.1" = '{NULL_FLAG_VALUE}' then 0
            else "DIRECT_NORAML_IRRADIANCE"
        end
    ) as "DLY_AVG_DIRECT_NORAML_IRRADIANCE",
    avg(
        case 
            when "Flag.2" = '{NULL_FLAG_VALUE}' then 0
            else "DIFFUSE_HORIZONTAL_IRRADIANCE"
        end
    ) as "DLY_AVG_DIFFUSE_HORIZONTAL_IRRADIANCE",
    avg(
        case 
            when "Flag.3" = '{NULL_FLAG_VALUE}' then 0
            else "GLOBAL_HORIZONTAL_LLUMINANCE" 
        end
    ) / 10 as "DLY_AVG_GLOBAL_HORIZONTAL_LLUMINANCE", -- calculate /kluxas 
    avg(
        case 
            when "Flag.4" = '{NULL_FLAG_VALUE}' then 0 
            else "DIRECT_NORAML_ILLUMINANCE" 
        end
    ) / 10 as "DLY_AVG_DIRECT_NORAML_ILLUMINANCE", -- calculate /klux
    avg(
        case 
            when "Flag.5" = '{NULL_FLAG_VALUE}' then 0 
            else "DIFFUSED_HORIZONTAL_ILLUMINANCE"
        end
    ) / 10 as "DLY_AVG_DIFFUSED_HORIZONTAL_ILLUMINANCE", -- calculate /klux
    avg(
        case 
            when "Flag.6" = '{NULL_FLAG_VALUE}' then 0 
            else "ZEENATH_LUMINANCE"
        end
    ) as "DLY_AVG_ZEENATH_LUMINANCE",
    avg(
        case 
            when "Flag.7" = '{NULL_FLAG_VALUE}' then 0 
            else "SUNSHINE_MIN"
        end
    ) as "DLY_AVG_SUNSHINE_MIN",
    avg(
        case 
            when "Flag.8" = '{NULL_FLAG_VALUE}' then 0 
            when "CEILING_HEIGHT" = 7777 then 3000 -- 7777 represents no limit. hence put max value of 3,000 
            else "CEILING_HEIGHT" 
        end
    ) * 10 as "DLY_AVG_CEILING_HEIGHT", -- multiply with 10 since it is represented per 10 m
    avg(
        case 
            when "Flag.9" = '{NULL_FLAG_VALUE}' then 0
            else "SKY_CONDITION_0"  -- extract layer 1
        end
    ) as "DLY_AVG_SKY_LAYER_1",
    avg(
        case 
            when "Flag.9" = '{NULL_FLAG_VALUE}' then 0
            else "SKY_CONDITION_1" -- extract layer 2
        end
    ) as "DLY_AVG_SKY_LAYER_2",
    avg(
        case 
            when "Flag.9" = '{NULL_FLAG_VALUE}' then 0
            else "SKY_CONDITION_2" -- extract layer 3
        end
    ) as "DLY_AVG_SKY_LAYER_3",
    avg(
        case 
            when "Flag.9" = '{NULL_FLAG_VALUE}' then 0
            else "SKY_CONDITION_3" -- extract layer 4
        end
    ) as "DLY_AVG_SKY_LAYER_4",
    avg(
        case 
            when "Flag.10" = '{NULL_FLAG_VALUE}' then 0
            else "VISIBILITY" 
        end
    ) / 10 as "DLY_AVG_VISIBILITY",  -- convert to visibility / 1 km
    avg(
        case 
            when "Flag.11" = '{NULL_FLAG_VALUE}' then 0
            else "WEATHER_0"
        end
    ) as "DLY_AVG_WEATHER_THUNDERSTORM",
    avg(
        case 
            when "Flag.11" = '{NULL_FLAG_VALUE}' then 0
            else "WEATHER_1"
        end
    ) as "DLY_AVG_WEATHER_RAIN",
    avg(
        case 
            when "Flag.11" = '{NULL_FLAG_VALUE}' then 0
            else "WEATHER_2"
        end
    ) as "DLY_AVG_WEATHER_DRIZZLE",
    avg(
        case 
            when "Flag.11" = '{NULL_FLAG_VALUE}' then 0
            else "WEATHER_3"
        end
    ) as "DLY_AVG_WEATHER_SNOW_1",
    avg(
        case 
            when "Flag.11" = '{NULL_FLAG_VALUE}' then 0
            else "WEATHER_4"
        end
    ) as "DLY_AVG_WEATHER_SNOW_2",
    avg(
        case 
            when "Flag.11" = '{NULL_FLAG_VALUE}' then 0
            else "WEATHER_5"
        end
    ) as "DLY_AVG_WEATHER_ICE",
    avg(
        case 
            when "Flag.11" = '{NULL_FLAG_VALUE}' then 0
            else "WEATHER_6"
        end
    ) as "DLY_AVG_WEATHER_VISIBILITY_1",
    avg(
        case 
            when "Flag.11" = '{NULL_FLAG_VALUE}' then 0
            else "WEATHER_7"
        end
    ) as "DLY_AVG_WEATHER_VISIBILITY_2",
    avg(
        case 
            when "Flag.12" = '{NULL_FLAG_VALUE}' then 0
            else "PRESSURE"  
        end
    ) / 100 as "DLY_AVG_PRESSURE", -- convert to presure / kPa
    avg(
        case 
            when "Flag.13" = '{NULL_FLAG_VALUE}' then null
            else "DRY_BULB_TEMPERATURE"
        end
    ) / 10 as "DLY_AVG_DRY_BULB_TEMPERATURE", -- convert to / 1 C
    avg(
        case 
            when "Flag.14" = '{NULL_FLAG_VALUE}' then null
            else "DEW_POINT_TEMPERATURE"
        end
    ) / 10 as "DLY_AVG_DEW_POINT_TEMPERATURE", -- convert to / 1 C
    avg(
        case 
            when "Flag.15" = '{NULL_FLAG_VALUE}' then null
            else "WIND_DIRECTION"
        end
    ) as "DLY_AVG_WIND_DIRECTION",
    avg(
        case 
            when "Flag.16" = '{NULL_FLAG_VALUE}' then null
            else "WIND_SPEED"
        end
    )  / 10 as "DLY_AVG_WIND_SPEED",
    avg(
        case 
            when "Flag.17" = '{NULL_FLAG_VALUE}' then null
            else "TOTAL_SKY_COVER"
        end
    ) as "DLY_AVG_TOTAL_SKY_COVER",
    avg(
        case 
            when "Flag.18" = '{NULL_FLAG_VALUE}' then null
            else "OPAQUE_SKY_COVER"
        end
    ) as "DLY_AVG_OPAQUE_SKY_COVER",
    avg(
        case 
            when "Flag.19" = '{NULL_FLAG_VALUE}' then 0
            else "SNOW"
        end
    ) as "DLY_AVG_SNOW"
from 
	"{TABLE_WEATHER_DATA}" ws
group by 
	"CLIMATE_ID", "DATE"
"""

# Establish Database Connection

In [16]:
db = Database()

Connection Established!!!
	Engine(postgresql://wireaiadmin:***@localhost:5434/weather_db)

# Data Pre-Processing

In [39]:
dly_avg_weather_df = pd.read_sql(
    sql = WEATHER_DATA_DAILY_AVG_QUERY,
    con = db.connection,
)

In [45]:
dly_avg_weather_df

,CLIMATE_ID,DATE,DLY_AVG_EXTRATERRESTRIAL_IRRADIANCE,DLY_AVG_GLOBAL_HORIZONTAL_IRRADIANCE,DLY_AVG_DIRECT_NORAML_IRRADIANCE,DLY_AVG_DIFFUSE_HORIZONTAL_IRRADIANCE,DLY_AVG_GLOBAL_HORIZONTAL_LLUMINANCE,DLY_AVG_DIRECT_NORAML_ILLUMINANCE,DLY_AVG_DIFFUSED_HORIZONTAL_ILLUMINANCE,DLY_AVG_ZEENATH_LUMINANCE,...,DLY_AVG_WEATHER_VISIBILITY_1,DLY_AVG_WEATHER_VISIBILITY_2,DLY_AVG_PRESSURE,DLY_AVG_DRY_BULB_TEMPERATURE,DLY_AVG_DEW_POINT_TEMPERATURE,DLY_AVG_WIND_DIRECTION,DLY_AVG_WIND_SPEED,DLY_AVG_TOTAL_SKY_COVER,DLY_AVG_OPAQUE_SKY_COVER,DLY_AVG_SNOW
0,1012475,1998-01-01,375.260870,44.608696,0.000000,44.608696,1.434783,0.000000,1.434783,0.0,...,0.0,0.0,99.454783,6.278261,3.973913,179.565217,3.086957,NaN,NaN,0.0
1,1012475,1998-01-02,361.916667,117.333333,160.083333,77.916667,3.650000,4.166667,2.608333,0.0,...,0.0,0.0,100.049167,3.475000,-4.266667,110.416667,4.433333,NaN,NaN,0.0
2,1012475,1998-01-03,364.291667,58.333333,0.458333,58.166667,1.879167,0.012500,1.875000,0.0,...,0.0,0.0,99.634167,3.845833,-1.058333,75.416667,7.125000,NaN,NaN,0.0
3,1012475,1998-01-04,366.791667,72.166667,1.875000,71.625000,2.320833,0.037500,2.308333,0.0,...,0.0,0.0,99.638333,4.204167,1.537500,97.916667,6.920833,NaN,NaN,0.0
4,1012475,1998-01-05,369.708333,55.375000,4.250000,54.250000,1.783333,0.116667,1.754167,0.0,...,0.0,0.0,100.308750,6.850000,4.387500,192.083333,5.262500,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3619088,8504177,2017-12-28,244.000000,97.041667,242.333333,55.166667,2.875000,5.225000,1.900000,0.0,...,0.0,0.0,94.622917,-15.500000,-18.433333,133.750000,6.062500,NaN,NaN,1.0
3619089,8504177,2017-12-29,245.208333,108.916667,333.916667,49.791667,3.125000,7.304167,1.745833,0.0,...,0.0,0.0,95.080000,-19.108333,-21.666667,42.083333,4.125000,NaN,NaN,1.0
3619090,8504177,2017-12-30,246.708333,101.833333,261.375000,55.250000,3.008333,5.733333,1.912500,0.0,...,0.0,0.0,94.571250,-18.583333,-20.900000,22.083333,2.466667,NaN,NaN,1.0
3619091,8504177,2017-12-31,248.250000,133.583333,516.208333,45.791667,3.650000,10.945833,1.616667,0.0,...,0.0,0.0,94.192500,-15.120833,-17.020833,17.083333,2.475000,NaN,NaN,1.0
3619092,8504177,2018-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,94.270000,-13.600000,-15.300000,10.000000,3.100000,NaN,NaN,1.0

In [46]:
# # fill in missing values
# dly_avg_weather_df.fillna(
#     0, 
#     inplace = True
# )

In [47]:
# store processed data in DB
db.send_df_to_db(
    df = dly_avg_weather_df,
    table_name = TABLE_WEATHER_DATA_PROCESSED,
    dtypes = WEATHER_DATA_PROCESSED_DB_DTYPES
)

Loaded data into table 'weather_daily_avg_readings'

In [48]:
# add primary keys for easy retrival 
primary_key_statement = f'ALTER TABLE "{TABLE_WEATHER_DATA_PROCESSED}" ADD PRIMARY KEY ("{WEATHER_DATA_AGG_INDEX_COLUMN[0]}", "{WEATHER_DATA_AGG_INDEX_COLUMN[1]}");'
db.execute_sql(primary_key_statement)

Execution started --> ALTER TABLE "weather_daily_avg_readings" ADD PRIMARY KEY ("CLIMATE_ID", "DATE");
Exectution completed --> ALTER TABLE "weather_daily_avg_readings" ADD PRIMARY KEY ("CLIMATE_ID", "DATE");