In [1]:
# ! pip install scipy shapely geopandas psycopg2-binary geoalchemy2 python-dotenv

# Import Block

In [1]:
import os
import pandas as pd
import geopandas as gpd
from copy import deepcopy
from dotenv import load_dotenv

# # This is not always giving the colosest possible station for some reason there is code to now manually retrive the distances
# from scipy.spatial import KDTree

import warnings
warnings.filterwarnings("ignore")

import sys
sys.path.append("../src")

from utils.Database import Database

# Load Environment

In [2]:
load_dotenv(".env")

TABLE_FIRE = os.getenv("TABLE_FIRE")
TABLE_WEATHER_ECCC_METADATA = os.getenv("TABLE_WEATHER_ECCC_METADATA")
TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA = os.getenv("TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA")

# Constants

In [6]:
GEOMETRY_COLUMNS = ['geometry_fire', 'geometry_station']

FIRE_IMPORTANT_COLUMNS = ['YEAR', 'MONTH', 'DAY', 'REP_DATE', 'CALC_HA', 'CAUSE', 'SRC_AGY2', 'geometry']

## Helper Functions

In [7]:
def filter_fire_data_by_year(
    year:int,
    fire_gdf:gpd.GeoDataFrame,
    filter_columns:list = FIRE_IMPORTANT_COLUMNS 
):  
    # filter by year
    filtered_gdf =  fire_gdf[
        fire_gdf["YEAR"] == year
    ]

    # filter columns
    filtered_gdf = filtered_gdf[filter_columns]

    return deepcopy(filtered_gdf)

# # Sample rum 
# filter_fire_data_by_year(
#     year = 2011,
#     fire_gdf = fire_gdf
# )

In [8]:
def filter_station_by_operation_year(
    year:int,
    station_meatdata_gdf:gpd.GeoDataFrame,
    start_yr_col_name:str = 'FIRST_YEAR',
    end_yr_col_name:str = 'LAST_YEAR'
):
    filtered_station_gdf = station_meatdata_gdf[
        # The years are inclusive since the daly reading for each staion start at the first day of the year
        (station_meatdata_gdf[start_yr_col_name] < year) & (station_meatdata_gdf[end_yr_col_name] > year)
    ] 
    return deepcopy(filtered_station_gdf)

# # Sample Run
# filter_station_by_operation_year(
#     year = 1999,
#     station_meatdata_gdf = weather_meatdata_gdf
# )

In [9]:
def get_nearest_station_to_fire(
    year:int,
    fire_gdf:gpd.GeoDataFrame,
    station_meatdata_gdf:gpd.GeoDataFrame,
    distance_in_meters:bool = True,
):    
    # get fires in the year
    yr_fire_gdf = filter_fire_data_by_year(
        year = year,
        fire_gdf = fire_gdf
    )

    # set CRS to "EPSG:3857" to get distance in meters
    if distance_in_meters == True:
        yr_fire_gdf = yr_fire_gdf.to_crs("EPSG:3857")

    # get operational stations
    operational_stations_gdf = filter_station_by_operation_year(
        year = year,
        station_meatdata_gdf = station_meatdata_gdf
    )

    # skip if ther are no sations available
    if(len(operational_stations_gdf) == 0):
        del operational_stations_gdf
        del yr_fire_gdf
        # del fire_cords
        return None

    # set CRS to "EPSG:3857" to get distance in meters
    if distance_in_meters == True:
        operational_stations_gdf = operational_stations_gdf.to_crs("EPSG:3857")

    # get the distancec to each station
    fire_to_Station_distance = yr_fire_gdf.centroid.apply(
        lambda fire_cord: fire_cord.distance(
            operational_stations_gdf.geometry
        )
    )

    # get the cloeasest station
    yr_fire_gdf['DISTANCE'] = fire_to_Station_distance.min(
        axis = 1
    )

    # get the index of cloeasest station
    yr_fire_gdf['STATION_INDEX'] = fire_to_Station_distance.idxmin( 
        axis = 1
    )
    del fire_to_Station_distance

    # set CRS to default if CRS was set in meters
    if distance_in_meters == True:
        yr_fire_gdf = yr_fire_gdf.to_crs("EPSG:4326")
        operational_stations_gdf = operational_stations_gdf.to_crs("EPSG:4326")

    # add station data
    yr_fire_gdf = yr_fire_gdf.merge(
        operational_stations_gdf, 
        left_on="STATION_INDEX", 
        right_index=True, 
        suffixes=("_fire", "_station")
    )
    del operational_stations_gdf

    return yr_fire_gdf

# # Sample RUn
# get_nearest_station_to_fire(
#     year = 2011,
#     fire_gdf = fire_gdf,
#     station_meatdata_gdf = weather_meatdata_gdf,
#     distance_in_meters = False,
# )

In [10]:
def set_geometry_for_all_gdf(
    data:gpd.GeoDataFrame,
    in_meters:bool = False,
    data_geometry_columns:list = GEOMETRY_COLUMNS
):
    # set crs of all geometry columns
    for col in data_geometry_columns:
        # set crs of line path 
        data[col] = data[col].to_crs(
            "EPSG:3857" if in_meters else "EPSG:4326",
        )

# Establish Database Connection

In [11]:
db = Database()

Connection Established!!!
	Engine(postgresql://wireaiadmin:***@localhost:5434/weather_db)

# Read Data

In [4]:
# Get Fire Boundaries
fire_gdf = gpd.read_postgis(
    sql = f'SELECT * FROM {TABLE_FIRE} as f order by f."YEAR";',
    con = db.connection,
    geom_col = "geometry"
)

In [5]:
# Get Weather station Cordimates
weather_meatdata_gdf = gpd.read_postgis(
    sql = f'SELECT * FROM {TABLE_WEATHER_ECCC_METADATA};',
    con = db.connection,
    geom_col = "geometry"
)

weather_meatdata_gdf

,STATION_NAME,PROV,ELEVATION,CLIMATE_ID,FIRST_YEAR,LAST_YEAR,HLY_FIRST_YEAR,HLY_LAST_YEAR,DLY_FIRST_YEAR,DLY_LAST_YEAR,MLY_FIRST_YEAR,MLY_LAST_YEAR,geometry
0,(AE) BOW SUMMIT,AB,2080.0,3050PPF,1998,2007,NaN,NaN,1998.0,2007.0,1998.0,2007.0,POINT (-116.47 51.7)
1,100 MILE HOUSE,BC,929.6,1095790,1957,1959,NaN,NaN,1957.0,1959.0,1957.0,1959.0,POINT (-121.27 51.65)
2,100 MILE HOUSE,BC,1059.2,1165791,1970,1999,NaN,NaN,1970.0,1999.0,1970.0,1999.0,POINT (-121.3 51.65)
3,100 MILE HOUSE 6NE,BC,928.0,1165793,1987,2023,NaN,NaN,1987.0,2023.0,1987.0,2007.0,POINT (-121.22 51.68)
4,108 MILE HOUSE,BC,957.1,1095796,1970,1973,NaN,NaN,1970.0,1973.0,1970.0,1973.0,POINT (-121.33 51.75)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8616,ZEBALLOS MURAUDE CREEK,BC,103.0,1039035,2010,2025,NaN,NaN,2010.0,2025.0,NaN,NaN,POINT (-126.78 50.05)
8617,ZEHNER,SK,682.8,4019200,1961,1999,NaN,NaN,1961.0,1999.0,1961.0,1999.0,POINT (-104.4 50.63)
8618,ZELMA,SK,541.0,4059220,1981,1989,NaN,NaN,1981.0,1989.0,1981.0,1989.0,POINT (-105.93 51.8)
8619,ZHODA,MB,304.8,5023370,1980,2000,NaN,NaN,1980.0,2000.0,1980.0,2000.0,POINT (-96.52 49.25)
8620,ZURICH,ON,256.6,6129850,1881,1898,NaN,NaN,1881.0,1898.0,1881.0,1898.0,POINT (-81.6 43.4)

# Data Pre-Processing

In [13]:
# get the first known year of weather data
weather_start_yr = weather_meatdata_gdf['FIRST_YEAR'].min()

# get unique fire years
# Note: alternatelvely you can just loop over all years since ther is no year where there was no fire.
#       I want this code to be usable for any country hence chose to go by unique year.
fire_yrs = fire_gdf['YEAR'].unique()
fire_start_yr = fire_yrs.min()

# update the fires years to only have the years with relevant data
fire_yrs = fire_yrs[fire_yrs > weather_start_yr]
del weather_start_yr

# init list of fire GeoDataFrames by year
fire_station_meta_gdfs = []

for year in fire_yrs:
    # merge with the nearest station
    fire_station_meta_gdf = get_nearest_station_to_fire(
        year = year,
        fire_gdf = fire_gdf,
        station_meatdata_gdf = weather_meatdata_gdf,
        distance_in_meters = True,
    )

    if fire_station_meta_gdf is None:
        continue
    
    # add to list
    fire_station_meta_gdfs.append(fire_station_meta_gdf)
    del fire_station_meta_gdf

# conbine the list into a dataframe
fire_station_meta_gdf = pd.concat(fire_station_meta_gdfs)

# unify geometry CRS
set_geometry_for_all_gdf(
    data = fire_station_meta_gdf,
    in_meters = False,
    data_geometry_columns = GEOMETRY_COLUMNS
)

# remane fire_goemetry to geometry
fire_station_meta_gdf.rename(
    {
        "geometry_fire": "geometry"
    }, 
    axis = 1,
    inplace = True
)

# set_geometry
fire_station_meta_gdf.set_geometry(
    "geometry",
    inplace = True
)

assert fire_station_meta_gdf.crs == fire_gdf.crs

In [15]:
fire_station_meta_gdf

,YEAR,MONTH,DAY,REP_DATE,CALC_HA,CAUSE,SRC_AGY2,geometry,DISTANCE,STATION_INDEX,...,CLIMATE_ID,FIRST_YEAR,LAST_YEAR,HLY_FIRST_YEAR,HLY_LAST_YEAR,DLY_FIRST_YEAR,DLY_LAST_YEAR,MLY_FIRST_YEAR,MLY_LAST_YEAR,geometry_station
0,1917,7,21,1917-07-21,368.704394,H,BC,"POLYGON Z ((-119.61688 53.01335 0, -119.6183 5...",57613.795188,7929,...,1178339,1914,1975,NaN,NaN,1914.0,1975.0,1914.0,1975.0,POINT (-119.25 52.82)
1,1918,5,9,1918-05-09,87.699077,H,BC,"POLYGON Z ((-119.38789 52.90007 0, -119.3885 5...",22546.187864,7929,...,1178339,1914,1975,NaN,NaN,1914.0,1975.0,1914.0,1975.0,POINT (-119.25 52.82)
2,1918,6,28,1918-06-28,69.205304,H,BC,"POLYGON Z ((-122.67668 49.21022 0, -122.67668 ...",21486.712570,1673,...,1101888,1901,1933,NaN,NaN,1901.0,1933.0,1901.0,1933.0,POINT (-122.85 49.27)
3,1918,9,23,1918-09-23,64.722492,H,BC,"POLYGON Z ((-125.40129 50.42365 0, -125.40207 ...",124152.296668,6526,...,1027060,1914,1943,NaN,NaN,1914.0,1943.0,1914.0,1943.0,POINT (-125.05 49.75)
4,1919,7,16,1919-07-16,555.300995,L,BC,"POLYGON Z ((-118.08421 49.4534 0, -118.08293 4...",47513.510579,1278,...,1141450,1916,1963,NaN,NaN,1916.0,1963.0,1916.0,1963.0,POINT (-117.67 49.33)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47538,2020,5,24,2020-05-24,4.966725,H,NS,"POLYGON Z ((-60.12426 46.24298 0, -60.1244 46....",15829.167058,7445,...,8205701,2014,2025,2014.0,2025.0,2014.0,2025.0,NaN,NaN,POINT (-60.05 46.16)
47539,2020,6,13,2020-06-13,6265.893555,L,YT,"POLYGON Z ((-136.74548 66.34048 0, -136.74128 ...",197745.263125,6327,...,2100935,1994,2025,1994.0,2025.0,1995.0,2025.0,NaN,NaN,POINT (-136.22 66.98)
47540,2020,6,15,2020-06-15,347.046116,L,YT,"POLYGON Z ((-134.95276 65.25212 0, -134.95257 ...",431493.155214,4576,...,2100701,2013,2025,2013.0,2025.0,2013.0,2025.0,NaN,NaN,POINT (-135.87 63.62)
47541,2020,6,13,2020-06-13,7749.266990,L,YT,"POLYGON Z ((-138.31016 66.49224 0, -138.30779 ...",254989.652697,6327,...,2100935,1994,2025,1994.0,2025.0,1995.0,2025.0,NaN,NaN,POINT (-136.22 66.98)
47542,2020,6,14,2020-06-14,3326.838254,L,YT,"POLYGON Z ((-138.89543 67.90471 0, -138.89457 ...",147627.556463,5323,...,2100801,2013,2025,2013.0,2025.0,NaN,NaN,NaN,NaN,POINT (-139.84 67.57)

In [18]:
# send data to db
db.send_gdf_to_db(
    gdf = fire_station_meta_gdf[[
        'REP_DATE', 
        'FIRST_YEAR', 
        'LAST_YEAR', 
        'CALC_HA', 
        'CAUSE', 
        'CLIMATE_ID', 
        'DISTANCE', 
        'PROV', 
        'ELEVATION',  
        'geometry', 
    ]],
    table_name = TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA,
    if_exists = 'replace',
    index = False,
)

In [ ]:
# add keys to data for faster retrival

primary_key_statement = f"""ALTER TABLE "{TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA}" ADD PRIMARY KEY ( "REP_DATE", "CALC_HA", "CAUSE" );"""
db.execute_sql(primary_key_statement)
alter_statement = f"""CREATE INDEX fire_weather_eccc_readings_index_station_id ON "{TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA}" ( "CLIMATE_ID" );"""
db.execute_sql(alter_statement)
alter_statement = f"""CREATE INDEX fire_weather_eccc_readings_index_fire_date ON "{TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA}" ( "REP_DATE" );"""
db.execute_sql(alter_statement)
alter_statement = f"""CREATE INDEX fire_weather_eccc_readings_index_area_burnt ON "{TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA}" ( "CALC_HA" );"""
db.execute_sql(alter_statement)
alter_statement = f"""CREATE INDEX fire_weather_eccc_readings_index_cause ON "{TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA}" ( "CAUSE" );"""
db.execute_sql(alter_statement)

Execution started --> CREATE INDEX fire_weather_eccc_readings_index_station_id ON "fire_nearest_weather_eccc_metadata" ( "CLIMATE_ID" );
Exectution completed --> CREATE INDEX fire_weather_eccc_readings_index_station_id ON "fire_nearest_weather_eccc_metadata" ( "CLIMATE_ID" );
Execution started --> CREATE INDEX fire_weather_eccc_readings_index_fire_date ON "fire_nearest_weather_eccc_metadata" ( "REP_DATE" );
Exectution completed --> CREATE INDEX fire_weather_eccc_readings_index_fire_date ON "fire_nearest_weather_eccc_metadata" ( "REP_DATE" );
Execution started --> CREATE INDEX fire_weather_eccc_readings_index_area_burnt ON "fire_nearest_weather_eccc_metadata" ( "CALC_HA" );
Exectution completed --> CREATE INDEX fire_weather_eccc_readings_index_area_burnt ON "fire_nearest_weather_eccc_metadata" ( "CALC_HA" );
Execution started --> CREATE INDEX fire_weather_eccc_readings_index_cause ON "fire_nearest_weather_eccc_metadata" ( "CAUSE" );
Exectution completed --> CREATE INDEX fire_weather_eccc_readings_index_cause ON "fire_nearest_weather_eccc_metadata" ( "CAUSE" );

# Test Read Data

In [21]:
gpd.read_postgis(
    sql = f"""SELECT * from "{TABLE_FIRE_NEAREST_WEATHER_ECCC_METADATA}"; """,
    con = db.connection,
    geom_col = 'geometry',
)

,REP_DATE,FIRST_YEAR,LAST_YEAR,CALC_HA,CAUSE,CLIMATE_ID,DISTANCE,PROV,ELEVATION,geometry
0,1917-07-21,1914,1975,368.704394,H,1178339,57613.795188,BC,797.1,"POLYGON Z ((-119.61688 53.01335 0, -119.6183 5..."
1,1918-05-09,1914,1975,87.699077,H,1178339,22546.187864,BC,797.1,"POLYGON Z ((-119.38789 52.90007 0, -119.3885 5..."
2,1918-06-28,1901,1933,69.205304,H,1101888,21486.712570,BC,7.9,"POLYGON Z ((-122.67668 49.21022 0, -122.67668 ..."
3,1918-09-23,1914,1943,64.722492,H,1027060,124152.296668,BC,45.7,"POLYGON Z ((-125.40129 50.42365 0, -125.40207 ..."
4,1919-07-16,1916,1963,555.300995,L,1141450,47513.510579,BC,434.3,"POLYGON Z ((-118.08421 49.4534 0, -118.08293 4..."
...,...,...,...,...,...,...,...,...,...,...
47538,2020-05-24,2014,2025,4.966725,H,8205701,15829.167058,NS,61.9,"POLYGON Z ((-60.12426 46.24298 0, -60.1244 46...."
47539,2020-06-13,1994,2025,6265.893555,L,2100935,197745.263125,YT,731.0,"POLYGON Z ((-136.74548 66.34048 0, -136.74128 ..."
47540,2020-06-15,2013,2025,347.046116,L,2100701,431493.155214,YT,503.8,"POLYGON Z ((-134.95276 65.25212 0, -134.95257 ..."
47541,2020-06-13,1994,2025,7749.266990,L,2100935,254989.652697,YT,731.0,"POLYGON Z ((-138.31016 66.49224 0, -138.30779 ..."
47542,2020-06-14,2013,2025,3326.838254,L,2100801,147627.556463,YT,250.2,"POLYGON Z ((-138.89543 67.90471 0, -138.89457 ..."